/* start font */
@font-face {
  font-family: "Hacen Maghreb";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ArbFONTS-Hacen-Maghreb-Bd.ttf") format("truetype");
}
@font-face {
  font-family: "Hacen Maghreb";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ArbFONTS-Hacen-Maghreb.ttf") format("truetype");
}

*,
body {
  font-family: "Hacen Maghreb", sans-serif;
}
::placeholder {
  color: #d3cbda !important;
  font-size: 12px;
}
label {
  font-weight: 300;
  font-size: 16px;
}

/* end font */
html,
body {
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}

a:hover,
a:focus {
  color: #573778;
}
.the-btn {
  font-size: 16px;
  color: #fff;
  background-color: #523b7f;
  border-radius: 4px;
  padding: 13px 15px !important;
  border: 0;
  line-height: 20px;
}
.the-btn-222 {
  font-size: 16px;
  color: #fff;
  background-color: #93aa3d;
  border-radius: 4px;
  padding: 13px 15px !important;
  border: 0;
  line-height: 20px;
}
.the-btn-22 {
  font-size: 16px;
  color: #fff;
  background-color: #009688;
  border-radius: 4px;
  padding: 13px 15px !important;
  border: 0;
  line-height: 20px;
}
.mb-250 {
  padding-bottom: 100px;
}
.p-big {
  padding: 30px;
}
.p-big-2 {
  padding: 20px;
}
.m-big {
  margin-top: 30px;
  margin-bottom: 100px;
}
.the-btn:hover,
.the-btn:focus {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}
.the-btn-2 {
  background-color: #523b7f;
  color: #fff;
}
.the-btn-2:hover {
  background-color: #523b7fe7;
  color: #fff;
}
.mt-14 {
  margin-top: 30px;
}
.the-btn-3 {
  color: #fff;
  border: 1px solid #fff;
  background-color: #fff0;
}
.pt-20 {
  padding-top: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-25 {
  margin-bottom: 25px;
}
.f-right {
  float: right;
}
.brown {
  color: #93aa3d !important;
}
.v-hidden {
  visibility: hidden;
}
.center {
  text-align: center !important;
}
.center-img {
  margin-top: 50px;
  margin-right: 30px;
}
.log-title {
  margin-top: 20px;
  margin-bottom: 40px;
}
.the-color-1 {
  color: #9fc146;
}
.the-color-2 {
  color: #333;
}
.the-color-3 {
  color: #ccc;
}
.the-color-4 {
  color: #887f90;
  text-align: center !important;
  margin-right: 20px;
}
.header-1 {
  width: 100%;
  background-color: #523b7f;
}
.web-list {
  padding: 0;
  color: #fff;
  overflow: hidden;
}
.web-text p {
  font-size: 14px;
  color: #887f90c7;
  margin: 30px 0;
  line-height: 1.7;
}
.full img {
  width: 100%;
  margin-bottom: 10px;
}
.contact-info {
  margin: 30px 0;
}
.web-list li {
  list-style: none;
  display: inline-block;
  margin-right: 7px;
  padding: 10px 0 0;
}
.web-list a {
  color: #fff;
}
.mega-menu {
  position: initial !important;
}
.mega-menu > ul {
  width: 100%;
}
.navbar-brand {
  padding: 15px 15px 0 0;
}
.w-100 {
  width: 100%;
}
.w-100 input {
  width: 60% !important;
  margin-right: 78px;
}
.w-100 label {
  font-size: 22px;
  color: #000 !important;
  font-weight: 300;
}
.mega-menu > a,
.mega-menu-btn {
  font-size: 16px;
  color: #fff;
  background-color: #775a1d;
  border-radius: 4px;
  padding: 13px 15px !important;
  border: 0;
  line-height: 20px;
}
.mega-menu > a:hover,
.mega-menu > a:focus {
  background-color: #775a1d !important;
  opacity: 0.85;
}
.search-input input {
  height: 47px;
  width: 500px !important;
}

.search-input {
  margin-top: 0;
}
.container-fluid > .navbar-header {
  margin-right: 35px;
}
.fav-layout a {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 13px !important;
}

.badge-1 {
  background-color: #f2496b;
  padding: 1px 4px;
  margin-left: -10px;
  position: relative;
  z-index: 3;
}
.badge-2 {
  background-color: #93aa3d;
  padding: 10px 16px;
}
.header-2 {
  -webkit-box-shadow: 2px 5px 5px 2px #f4f4f4;
  -moz-box-shadow: 2px 5px 5px 2px #f4f4f4;
  box-shadow: 2px 5px 5px 2px #f4f4f4;
}
.the-slider {
  margin-top: 50px;
}
.slider-img {
  min-width: 100%;
  height: auto;
}
.slick-dots {
  bottom: -40px !important;
}
.slider-dots-1 .slick-dots li,
.slider-dots-1 .slick-dots li button,
.slider-dots-1 .slick-dots li button:before,
.slider-dots-1 .slick-dots li button::before {
  width: 50px;
  height: 4px;
  padding: 0;
}
.slider-dots-1 .slick-dots li button::before,
.slider-dots-1 .slick-dots li.slick-active button::before {
  color: #fff0;
  opacity: 0;
}

.slider-dots-1 .slick-dots li {
  background-color: #f8f1f4;
}
.slider-dots-1 .slick-dots li.slick-active {
  background-color: #9fc043c9;
}
.slider-dots-1 .slick-dots li:hover {
  opacity: 0.8;
}
.slider-dots-1 .slick-dots li.slick-active:hover {
  opacity: 1;
}
.section-1 {
  margin-top: 40px;
  margin-bottom: 35px;
}
.box-details {
  float: left;
  width: 80%;
}
.box-img {
  float: left;
  width: 14%;
  margin-left: 6% !important;
}
.box-details h3 {
  margin-top: 0;
}
.box-details p {
  color: #d3cbda;
  max-width: 280px;
}
.box-2 img {
  width: 100%;
}
.box {
  margin-bottom: 5px;
  overflow: hidden;
}
.box-2 {
  margin-bottom: 15px;
}
.slider-dots-1.slick-dotted.slick-slider {
  margin-bottom: 10px;
}
.mega-menu-dropdown {
  display: none;
}
.show-hide {
  display: block;
}
.nav-pills > li > a {
  color: #887f90;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #fff0;
  color: #9fc145;
  border-bottom: 2px solid #9fc145;
  padding-left: 5px;
  padding-right: 5px; /*margin-left: 10px;margin-right: 10px;border-radius: 0;*/
  padding-bottom: 5px;
  border-radius: 0;
}
.nav.nav-pills {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 18px
}


/* notifications */

.notifications>a {
    color: #573778;
    font-size: 20px;
}

.notifications.active>a {
    color: #9fc146;
}

.notifications>a .badge {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e2002e;
    box-shadow: 0 0 16px rgba(0, 0, 0, .1);
    font-size: 14px;
}

.notifications .notification-content {
    position: absolute;
    right: auto;
    left: 0;
    top: 63px;
    width: 360px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 30px 15px;
    z-index: 99;
    border-radius: 10px;
    max-height: 100vh;
    overflow: auto;
    display: none;
}

.notifications .notification-content .notifications-title {
    font-size: 24px;
    margin: 0 0 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

.notifications .notification-content>ul {
    padding: 0;
    list-style: none;
}

.notifications .notification-content>ul li a {
    border: 0;
    color: inherit;
    padding: 15px 10px 15x!important;
    display: flex;
    flex: 1;
    border-radius: 5px;
    transition: .5s all;
}

.notifications .notification-content>ul li a .noti-img {
    flex: 0 60px;
    margin-left: 5px;
}

.notifications .notification-content>ul li a .noti-text {
    flex: 1;
}

.notifications .notification-content>ul li a .noti-text h5 {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
}

.notifications .notification-content>ul li a .noti-text small {
    font-size: 14px;
}

.notifications .notification-content>ul li a:hover {
    text-decoration: none;
    background-color: #f7f7f7;
}

.notifications .notification-content>ul li a:hover,
.notifications .notification-content>ul li a:visited,
.notifications .notification-content>ul li a:focus {
    text-decoration: none;
}

.rating-input i {
    font-size: 24px;
    padding: 5px;
}

.rating-input i.active {
    color: #ffe001;
}

.modal .modal-body .rating-clear {
    padding: 3px 10px!important;
    border: 0;
    font-size: 12px;
    color: inherit;
    cursor: pointer;
    transition: .5s all;
}

.modal .modal-body .rating-clear i {
    font-size: 12px;
}

.modal .modal-body .rating-clear:hover {
    text-decoration: none;
    background-color: #f7f7f7;
}

.mega-list ul {
  padding: 0;
}
.mega-list ul li {
  list-style: none;
}
.mega-list ul li a {
  color: #887f90;
  margin: 7px 0;
  display: inline-block;
}
.mega-list ul li.see-all a {
  color: #d3cbda;
  text-decoration: underline;
}
.mega-list ul li a:hover,
.mega-list ul li a:focus {
  color: #000;
}
.mega-list {
  padding: 20px 0 10px;
  min-height: 370px;
}
.mega-list h4 {
  font-size: 15px;
}
.mega-list-img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mega-list h4 img {
  margin-bottom: 3px;
}
.the-title {
  width: 100% /*;overflow: hidden*/;
  margin-bottom: 25px;
}
.title-float {
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 18px;
}
.the-title a {
  float: right;
  color: #9fc043;
}
.the-title a img {
  margin-left: 5px;
}
.the-product {
  -webkit-box-shadow: 2px 4px 11px 0px #ececec;
  -moz-box-shadow: 2px 4px 11px 0px #ececec;
  box-shadow: 2px 4px 11px 0px #ececec;

  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 20px;
}
.the-product-fav {
  text-align: right;
  padding: 5px;
  text-align: left;
  position: absolute;
  left: 15px;
  top: 10px;
}
.the-product-img {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  height: 220px;
}
.the-product-img img {
  width: 160px;
}
.leaves {
  width: 100px !important;
}
.the-product-size span {
  font-size: 10px;
  color: #887f90;
  padding-right: 10px;
}
.fav-btn {
  padding: 0;
  background-color: #fff0;
  border: 0;
}
.fav-btn:hover {
  opacity: 0.85;
}

.the-product-title a {
  font-size: 22px;
  color: #000;
  text-align: center !important;
  padding-right: 5px;
  margin-top: 10px;
}
.the-product-title {
  font-size: 22px;
  color: #000;
  text-align: right !important;
  padding-right: 5px;
  margin-top: 10px;
}
.the-product-title h3 {
  font-size: 22px;
  color: #000;
  text-align: right !important;
}

.the-product-price {
  color: #9fc043;
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}
.the-product-price p {
  color: #887f90;
  margin: 3px !important;
  text-align: right !important;
}
.the-product-price span {
  font-size: 16px;
}
.the-product-details {
  overflow: hidden;

  position: absolute;
  left: 15px;
  bottom: 10px;
}
.the-product-discount {
  overflow: hidden;

  position: absolute;
  right: 15px;
  top: 0px;
}
.add-fav {
  float: right;
  background-color: #f2496b;
  color: #fff;
  border-radius: 7px;
  padding: 4px 11px;
  font-size: 18px;
  border: 0;
  width: 36px;
  height: 36px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.the-product-details p {
  float: left;
  font-size: 12px;
  color: #887f90;
  margin-top: 10px;
}
.add-btn {
  float: right;
  background-color: #9fc146;
  color: #fff;
  border-radius: 10px;
  padding: 4px 11px;
  font-size: 20px;
  border: 0;
  width: 36px;
  height: 36px;
}
.add-btn:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
}
.adv-banner {
  width: 100%;
  margin: 25px 0;
}
.adv-banner img {
  width: 100%;
}
.the-title .nav-pills {
  border-bottom: 0;
  padding-bottom: 0;
  text-align: right;
}
.the-title .nav-pills > li > a {
  padding-top: 0;
}
.the-title .nav-pills > li {
  float: none;
  display: inline-block;
}
.offer {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #f34a6c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0 0 8px 8px;
  font-size: 16pt;
}
.subscribe {
  width: 100%;
  background: url(../img/leav.png) no-repeat -47px 15px, #523b7f;

  padding: 45px 0 30px;
}
.subscribe .box-details p {
  max-width: initial;
}
.subscribe .box-details {
  color: #fff;
}
.subscribe .search-input input {
  width: 300px !important;
}
.subscribe .box-details p {
  color: #fff;
}
.the-social ul li {
  float: none;
  display: inline-block;
  
  min-height: 30px;
  border-radius: 50%;
  text-align: center;
  margin: 10px 0px 10px 14px;
  /* background-color: #ffffff45; */
  line-height: 29px;
}
.the-social ul {
  padding: 0;
}
.footer {
  padding: 30px 0;
}
.footer ul li a {
  color: #333;
  font-size: 16px;
}
.footer ul li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 16px;
}
.footer ul {
  padding: 0;
}
.footer h4 {
  font-size: 16px;
  margin-bottom: 15px;
}
.the-product-2 .the-product-title,
.the-product-title a {
  font-size: 16px;
}
.the-product-title h4 {
  font-size: 18px;
  padding-top: 10px;
}
.black {
  color: #000 !important;
}
.the-product-title span {
  font-size: 18px;
}
.the-product-2 .the-product-price span {
  font-size: 14px;
}
.the-product-2 {
  margin-bottom: 15px;
}
.the-product-2 .box-details {
  padding-left: 10px;
}

.breadcrumb li a {
  color: #d3cbda;
}
.breadcrumb > .active {
  color: #1a1a1a;
  margin-right: 20px;
}
.breadcrumb {
  padding: 28px 15px 18px;
  background-color: #fff0;
  border-radius: 0;
  border-bottom: 1px solid #d0d0d0;
}
.breadcrumb > li + li:before {
  content: "" !important;
}
.top {
  padding: 15px;
}
.top-2 {
  padding: 30px;
  max-width: 100% !important;
}

.dark-small-0 {
  color: #d3cbda;
  font-size: 18px;
  transition: all ease 0.2s;
}
.none-m .radio,
.checkbox {
  margin: 0 !important;
}
.the-filter > div {
  float: right;
  margin-left: 10px;
}
.contact-form .form-group label {
  font-weight: 300;
  font-size: 16px;
}
.pt-l {
  padding-top: 20px;
}
.btn-filter {
  background-color: #fff;
  color: #887f90;
  border: 1px solid #887f90;
  padding: 11px 12px;
}
.slider-handle {
  background-image: linear-gradient(to bottom, #93aa3d 0, #93aa3d 100%);
}
.slider-selection {
  background-image: linear-gradient(to bottom, #93aa3d 0, #93aa3d 100%);
}
.slider.slider-horizontal {
  height: 25px;
  margin-left: 50px;
}
.slider.slider-horizontal .slider-track {
  height: 5px;
}

.the-range-slider {
  margin-bottom: 20px;
}
.filter-price {
  color: #887f90;
}
.nav-pills2 {
  float: left;
}
.the-title .nav-pills.nav-pills2 > li > a {
  border: 1px solid #e3dcea;
  padding: 10px 15px;
}
.nav-pills2 > li.active > a,
.nav-pills2 > li.active > a:hover,
.nav-pills2 > li.active > a:focus {
  background-color: #523b7f;
  color: #fff !important;
  border-color: #523b7f !important;
}
.details-slider {
  border: 1px solid #f4f4f4;
  -webkit-box-shadow: 2px 4px 11px 0px #ececec;
  -moz-box-shadow: 2px 4px 11px 0px #ececec;
  box-shadow: 2px 4px 11px 0px #ececec;
  max-width: 500px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 120px;
}
.details-slider .item img {
  margin: 40px auto;
  margin-bottom: 0 !important;
}
.dark {
  font-size: 18px;
  color: #887f90;
}
.details-slider {
  margin-bottom: 25px;
  position: relative;
}
.products {
  margin-top: 10px;
  padding-top: 20px;
}
.slider-a .carousel-indicators li {
  width: 70px;
  height: 70px;
  border-radius: 0;
  border: 1px solid #d0d0d0;
  text-indent: initial;
}
.slider-a .carousel-indicators li.active {
  border: 1px solid #9fc146;
}
.slider-a .carousel-indicators li img {
  width: 100%;
  height: 100%;
}

.slider-a .carousel-indicators {
  bottom: -110px;
}
.the-product-3 .the-product-details p {
  margin-top: 0;
}
.the-product-3 .the-product-price span {
  font-size: 18px;
}
.old,
.the-product-3 .the-product-price span.old {
  color: #d3cbda;
  font-size: 14px;
  line-height: 28px;
  float: left;
  margin-right: 4px;
  text-decoration: line-through;
}
.the-product-3 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  max-width: 500px;
}
.add-btn-fav {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 16px 3px #eee;
  -moz-box-shadow: 0px 0px 16px 3px #eee;
  box-shadow: 0px 0px 16px 3px #eee;
  border: 1px solid #ccc;
  padding: 0;
}
.add-btn2 {
  float: left;
}
.product-num {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #887f90;
  width: 380px;
}
.product-num span {
  font-size: 18px;
  color: #1a1a1a;
}
.the-product-num {
  margin-top: 25px;
  margin-bottom: 35px;
}
.the-product-num .add-btn {
  background-color: #fff;
  color: #1a1a1a;
  -webkit-box-shadow: 0px 0px 16px 3px #eee;
  -moz-box-shadow: 0px 0px 16px 3px #eee;
  box-shadow: 0px 0px 16px 3px #eee;
  border: 1px solid #ccc;
  padding: 0;
}
.box.box-3 {
  margin-top: 20px;
}
.box-3 .box-details h3 {
  font-size: 18px;
}
.box-3 .box-details p {
  font-size: 10px;
}
.offer-2 {
  z-index: 99;
  font-size: 14px;
  left: 0;
  top: 10px;
  border-radius: 0 7px 7px 0;
  padding: 7px 10px;
}
.login {
  width: 100%;
  height: 100vh;
  background: url(../img/sign-up.png) rgba(0,0,0,.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  overflow-x:hidden;
  overflow-y:scroll;
}
.login-box .checkbox{padding: 0 0 10px;}
.login-logo .box {
  color: #fff;
}
.login-logo .box-details p {
  color: #fff;
}
.login-logo .box-details {
  margin-top: 7px;
}
.login-logo {
  margin-top: 240px;
  margin-left: 170px;
}
.login-box {
  background-color: #fff;
  max-width: 600px;
  margin: 0;
  border-radius: 10px;
  padding: 40px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}
.img-btn {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 25px;
  line-height: 22px;
}
.nav-tabs.nav-tabs-steps > li {
  margin-bottom: -20px;
  background-color: #fff;
}
.nav-tabs.nav-tabs-steps > li.active > a,
.nav-tabs.nav-tabs-steps > li.active > a:hover,
.nav-tabs.nav-tabs-steps > li.active > a:focus {
  border: 0;
}
.nav-tabs > li.step-2 {
  float: right;
}
.tab-step {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #313b7a;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: -5px;
  text-align: center;
}
.tab-step {
  border: 1px solid #9fc146;
}
.tab-step div {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: auto;
  background-color: #9fc146;
  margin-top: 2px;
}
.step-2 .tab-step {
  border: 1px solid #b5b5b5;
}
.form-div {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 50px;
}
.step-2 .tab-step div {
  background-color: #fff;
}
.step-2.active .tab-step {
  border: 1px solid #9fc146;
}
.step-2.active .tab-step div {
  background-color: #9fc146;
}
.nav-tabs-steps > li > a {
  color: #b5b5b5;
}
.login-box .nav-tabs-steps {
  margin-top: 20px;
  margin-bottom: 40px;
}
.form-control2 {
  background-color: #f6f4f9;
  border-color: #e3dcea;
}
.form-div {
  color: #887f90;
  overflow: hidden;
}
.form-div a {
  float: right;
  color: #9fc146;
}
.form-hint,
.form-hint a {
  color: #d3cbda;
  text-align: center;
}
.form-hint span {
  color: #9fc146;
}
.the-product-details-2 p {
  margin-top: 0;
}
.input-number {
  text-align: center;
}
.product-quantity {
  margin-top: 25px;
  max-width: 150px;
}
.order-float {
  float: right;
}
.the-order {
  padding: 15px 0;
  border-bottom: 1px solid #d0d0d04f;
}
.border-0 {
  border-color: transparent;
}
.none {
  border: none !important;
}
.the-cart {
  max-width: 500px;
}
.the-order-item {
  margin-bottom: 0px;
  padding: 10px 0;
}
.dark-small {
  color: #887f90;
  font-size: 15px;
}
.the-order-2 {
  border-bottom: 0;
  color: #887f90;
}
.the-order-2 span {
  color: #9fc145;
}
.radio-order {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.the-block {
  border: 1px solid #d0d0d0;
  border-radius: 7px;
  padding: 15px;
  margin: 20px 0;
}
.checkbox-text {
  color: #333;
  margin-left: 10px;
}
.checkbox-span {
  color: #887f90;
  margin-left: 10px;
  font-size: 14px;
  padding-right: 20px;
}
.the-color-6 {
  color: #887f90;
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: 25px;
  line-height: 1.7;
}
.info-privacy {
  margin-top: 50px;
  margin-bottom: 20px;
}
.end {
  margin-top: 150px;
}
.profile-bg {
  width: 100%;
  background: url(../img/pro-shape.png) no-repeat 22px 20px, #93aa3d;

  padding: 20px 40px;
  overflow: hidden;
  margin-bottom: 25px;
}
.the-color-x {
  color: #887f90;
  font-size: 12px;
}
.profile-bg > div {
  display: inline-block;
}
.profile-btn {
  float: right;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.profile-name {
  color: #fff;
  float: left;
  margin: 30px 15px;
}
.m-big-1 {
  margin: 60px 0;
}
.m-big-2 {
  margin: 50px 0;
}
.forget-password {
  padding: 200px 0;
}
.float-left {
  float: left;
}
.f-pass {
  margin-top: 40px;
}
.dark-sm-2 {
  color: #887f90;
  font-size: 14px;
  margin-top: 15px;
}
.ver-box {
  border: 1px solid #d3cbda;
  padding: 20px;
  margin-top: 40px;
  border-radius: 5px;
}
.l-code {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}
.ver-info {
  list-style-type: none;
  margin-top: 30px;
  text-align: right;
}
.ver-info li {
  margin: 10px 0;
}
.ver-info li a {
  color: #000;
}
.ver-info li a:hover {
  color: #9fc145;
}
.btn-larg {
  padding: 12px 30px !important;
  margin-top: 20px;
}
.profile-name h4 {
  margin-top: 0;
  color: #fff;
}
.profile-btn {
  margin-top: 55px;
}
.nav-tabs-profile > li .img-b {
  display: none;
}
.nav-tabs-profile > li.active .img-b {
  display: inline-block;
}
.nav-tabs-profile > li.active .img-a {
  display: none;
}
.nav-tabs-profile {
  margin-bottom: 30px;
}
.nav-tabs-profile li {
  width: 25%;
  text-align: center;
}
.nav-tabs.nav-tabs-profile > li.active > a,
.nav-tabs.nav-tabs-profile.nav-tabs-profile > li.active > a:hover,
.nav-tabs.nav-tabs-profile > li.active > a:focus {
  border-bottom: 3px solid #9fc146;
  border: 0;
  color: #555;
}
.nav-tabs.nav-tabs-profile > li a {
  color: #d3cbda;
}
.table.the-table > tbody > tr > td {
  margin: 60px 0;
  padding: 20px 0;
}
.the-table tr {
  padding: 20px;
  margin-bottom: 20px;
}
.table {
  padding: 40px !important;
  margin-top: 20px;
  margin-bottom: 80px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0 !important;
}
.the-table tbody tr {
  -webkit-box-shadow: 2px 4px 11px 0px #ececec;
  -moz-box-shadow: 2px 4px 11px 0px #ececec;
  box-shadow: 2px 4px 11px 0px #ececec;
  border-radius: 10px;
}
.the-table tbody tr td {
  padding: 40px 20px !important;
}
.the-table thead tr th {
  padding: 30px 20px !important;
}
.the-table thead tr th {
  color: #887f906c;
  margin-bottom: 50px !important;
}
.table > thead > tr > th {
  border-bottom: 0;
}
.the-btn-8 {
  background-color: #583779;
}
.dark-s {
  color: #887f90;
  font-size: 14px;
}
.the-block-2 {
  -webkit-box-shadow: 2px 4px 11px 0px #ececec;
  -moz-box-shadow: 2px 4px 11px 0px #ececec;
  box-shadow: 2px 4px 11px 0px #ececec;
  border: 1px solid #efefef;
  padding: 40px;
}
.the-block-2 .the-btn,
table .the-btn {
  font-size: 14px;
  padding: 8px 35px !important;
}
.the-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
}
.circle-1 {
  background-color: #f2496b;
}
.circle-2 {
  background-color: #9fc145;
}
.the-color-4 span {
  margin-right: 15px;
}
.contact-form {
  margin-top: 50px;
  max-width: 600px;
  margin-bottom: 50px;
}
.web-list-2 {
  overflow: initial;
}
.the-sign-btn,
.the-sign-btn:hover,
.the-sign-btn:focus,
.the-sign-btn:active,
.the-sign-btn.active,
.open > .dropdown-toggle.the-sign-btn {
  color: #fff;
  background-color: #fff0;
  border: 0;
  padding-top: 0;
}
.sign-dropdown .dropdown-menu {
  width: 340px;
  left: 0;
  right: initial;
  padding: 15px;
}
.input-group-2 .input-group-addon {
  background-color: #fff;
}
.input-group-2 {
  padding-bottom:20px;
  margin-bottom:5px;
}
.sign-welcome {
  text-align: center;
  margin: 10px 0 20px;
}
.sign-welcome h4 {
  color: #333;
}
.web-list-2 a {
  color: #333;
}
.web-list.web-list-2 {
  color: #fff;
}
.fs-12 {
  font-size: 12px;
}
.login-dropdown .checkbox label {
  width: 100%;
  padding-bottom: 10px;
}
.edit-profile {
  text-align: right;
  max-width: 350px;
  margin: 0 auto 25px;
}
.right {
  text-align: right !important;
}
.edit-profile .profile-img {
  float: none;
  margin-bottom: 30px;
}
.the-btn-edit {
  margin-bottom: 20px;
}
.the-btn-edit a {
  padding: 9px 15px !important;
}
.form-control {
  height: 45px;
}
/* edit */
.mt-7 {
  margin-top: 50px !important;
  margin-bottom: 0 !important;
}

.float-right > li > a:hover {
  background-color: transparent;
  color: #93aa3d !important;
}
.float-right > li > a:focus {
  background-color: transparent;
  border-bottom: 2px solid #93aa3d !important;
  color: #93aa3d !important;
}

.float-right > li > a:hover,
.nav > li > a {
  color: #161616;
  font-size: 16px;
}
.text-center-2 {
  justify-items: center;
  align-items: center;
}
.content-pass {
  border: 1.5px solid #eee;
  padding: 40px;
  border-radius: 5px;
}
.radio,
.checkbox {
  margin: 20px 0;
}
.w-100 {
  max-width: 100% !important;
}
.nav-pills3 {
  float: right;
}

.the-title .nav-pills3 > li > a {
  background-color: transparent !important;
  color: #573778 !important;
  padding: 10px 25px !important;
  border-radius: 5px !important;
  border: 2px solid #573778;
}
.the-title .nav-pills3 > .active > a {
  background-color: #93aa3d !important;
  color: #fff !important;
  padding: 10px 25px !important;
  border-radius: 5px !important;
  border: 2px solid #93aa3d;
}
.cart-layout a {
  padding: 7px !important;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.subscribe .btn.btn-default {
  height: 47px;
  background-color: #93aa3d;
  color: #fff;
  padding: 6px 42px;
  border-color: transparent;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.navbar .input-group > .form-control {
  width: 230px !important;
}
.subscribe .input-group > .form-control {
  width: 300px !important;
}
/* start my edit */
.navbar-nav {
  float: left;
}
.navbar-right {
  float: left !important;
}

.navbar-toggle .icon-bar {
  background-color: #523b7f;
}
.clr {
  clear: both;
}
.navbar-brand {
  padding: 0 !important;
}
.navbar {
  margin-bottom: 30px !important;
  padding-top: 10px;
}
.float-right {
  float: right;
}
.modal-body {
  padding: 40px;
  padding-top: 70px;
}
.text-dark {
  color: #887f90;
  font-size: 14px;
}
.bg-transperant {
  background-color: transparent !important;
}
.new-login {
  float: left;
  list-style: none;
  margin-top: 20px;
}
.new-login li {
  display: inline-block;
}
.new-login li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.login-layout {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.badge-qunt {
  padding: 12px 50px;
  background-color: #d3cbda;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
}
.pb-2 {
  padding-bottom: 50px !important;
}
.green {
  color: #9fc145 !important;
  font-size: 14px !important;
}
.pt-10 {
  padding-top: 25px;
}
.gift-big {
  height: 85vh;
}
.gift {
  text-align: center;
  padding: 40px;
  margin-top: 100px;
}
.gift h5 {
  color: #1a1a1a;
  font-size: 14px;
  padding: 10px 0;
}
.gift a {
  color: #887f90;
  font-size: 14px;
}
.btn-gift {
  padding: 15px 40px;
  border: 1px solid #ccc;
}
.btn-edit {
  background-color: #583779;
  color: #fff;
}
.btn-edit:hover {
  background-color: #583779;
  color: #fff;
}
.the-product-222 {
  text-align: center;
  margin: 30px 0;
  -webkit-box-shadow: 2px 4px 30px 0px #ececec;
  -moz-box-shadow: 2px 4px 30px 0px #ececec;
  box-shadow: 2px 4px 30px 0px #ececec;
  padding: 30px;
  border-radius: 5px;
}
.the-product-222 h4 {
  font-weight: bold;
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 20px;
}
.the-product-222 h5 {
  color: #887f90;
  font-size: 14px;
  margin: 20px 0;
}
.the-product-222 p {
  color: #887f90;
  font-size: 14px;
  margin: 20px 0;
}
.the-product-222 img {
  margin: 10px 0;
}
.the-product-222 h6 span {
  color: #9fc043;
  font-size: 14px;
  margin: 20px 0;
}
.add-packeg {
  height: 330px;
}
.add-packeg a img {
  margin-top: 100px;
}
.btn-sear{
  background-color: transparent;
  border: 0;
  position: relative;
  right: -20px;
}
.btn-sear:focus{
  background-color: transparent;
  border-color: transparent !important;
}
.glyphicon{
  top: 4px;
  color: #000000;
  font-size: 15px;
}
#openNot li {
    margin-bottom: 10px;
    height: auto;
}
/* start 5 col */
@media (min-width: 1200px) {
  .ten-columns-2 > .col-lg-2 {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .ten-columns > .col-sm-2 {
    width: 20%;
  }
}
.login-dropdown .parsley-errors-list.filled{
    position:absolute;
    bottom:0;
}
.subscribe .the-social i{
    color:#fff;
}
.subscribe h3{font-size:18px;}
.subscribe .the-social img{
    vertical-align: text-bottom;
}
.subscribe .search-input{padding:0;}
.sub-h{
    margin-top:0;
    color:#fff;
}
/* end 5 col */
/* start responsive */
@media only screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .search-input input {
    width: 100% !important;
  }
  .subscribe .search-input input {
    width: 100% !important;
  }
  .the-social ul {
    text-align: left;
  }
  .subscribe .search-input {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .subscribe {
    padding: 35px 0 5px;
  }
  .footer ul li,
  .footer ul li a {
    font-size: 14px;
  }
  .title-float2 {
    float: none;
  }
  .the-filter > div {
    margin-bottom: 10px;
  }
  .product-num {
    width: 340px;
  }
}
@media only screen and (max-width: 1366px) {
  .add-packeg {
    height: 350px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    img{max-width:100%;}
    .sub-h {
    margin-top: 15px;
    }
  .container-fluid > .navbar-header {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer .row > div {
    margin-bottom: 10px;
  }
  .footer {
    padding: 10px 0;
  }
  .footer .the-product-2 {
    margin-bottom: 5px;
  }
  .the-product-3 {
    margin: 0 auto 30px;
  }
  .login-logo {
    margin-left: 30%;
    margin-top: 20px;
  }
  .login-box {
    margin: 20px auto;
  }
  .the-cart {
    max-width: 100%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .sign-dropdown .dropdown-menu {
        left: auto;
    }
    .the-title a {
        margin-left: 30px;
    }
  .header-2 .nav.navbar-right.pt-20 {
    width: 100%;
    padding-top: 0 !important;
    margin-bottom: 0;
  }
  .header-2 .nav.navbar-right li {
    display: block;
    float: left;
    height: 70px;
    margin-top: 15px;
  }
  .navbar-form.search-input {
    padding-bottom: 5px;
    margin-bottom: 4px;
  }
  .slider-dots-1 .slick-dots li,
  .slider-dots-1 .slick-dots li button,
  .slider-dots-1 .slick-dots li button::before,
  .slider-dots-1 .slick-dots li button::before {
    width: 10px;
    height: 3px;
  }
  .slider-dots-1 .slick-dots li {
    margin: 0 3px;
  }
  .the-slider {
    margin-top: 20px;
  }
  .slider-dots-1 .slick-dots {
    bottom: 10px;
  }
  h3 {
    font-size: 18px;
  }
  .subscribe .search-input {
    margin-right: 0;
    margin-left: 0;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .box-img {
        width: 25%;
    }
    .box-details {
        width: 65%;
    }
    #openNot li a{
        text-align:right;
    }
    .the-block.the-block-2 .checkbox-inline.checkbox-text{margin:0;padding:0;}
    .the-block.the-block-2 span.order-float{
        display: block;
        float: none;
        margin-top: 15px;
    }
    .profile-btn {
        margin-top: 0;
    }
    .login-dropdown input[type="checkbox"] {
        right: 0;
    }
  .mega-list ul li a {
    font-size: 12px;
  }
  .mega-list h4 {
    font-size: 12px;
  }
  .ten-columns > div {
    width: 50%;
  }
  .mega-list ul li a {
    margin: 3px 0;
  }
  .mega-list {
    min-height: 270px;
    padding-top: 10px;
  }
  .ten-columns > div.mega-list-img {
    width: 100%;
  }
  .section-1 {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .box-details h3 {
    font-size: 17px;
  }
  .the-product-img {
    margin-bottom: 5px;
  }
  .ten-columns-2 .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .the-product-2 .the-product-title,
  .the-product-title a {
    font-size: 13px;
  }
  .the-product-price {
    font-size: 10px;
  }
  .the-product-price span {
    font-size: 13px;
  }
  .add-btn {
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 15px;
  }
  .the-product-details p {
    margin-top: 4px;
  }
  .the-product {
    margin-bottom: 15px;
  }
  .offer {
    font-size: 11pt;
  }
  .title-float {
    width: 100%;
  }
  .the-title .nav-pills > li > a {
    padding: 10px 5px;
    font-size: 12px;
  }
  .footer ul li,
  .footer ul li a {
    font-size: 12px;
  }
  .footer .row > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-num {
    width: 180px;
  }
  .slider-a .carousel-indicators li {
    width: 30px;
    height: 30px;
  }
  .slider-a .carousel-indicators {
    bottom: -55px;
  }
  .details-slider {
    padding-bottom: 60px;
  }
  .login-logo {
    margin-left: 0;
  }
  .nav-tabs-steps > li > a {
    font-size: 12px;
    padding: 10px 5px;
  }
  .tab-step {
    width: 15px;
    height: 15px;
  }
  .tab-step div {
    width: 9px;
    height: 9px;
  }
  .login-box {
    padding: 15px 8px;
  }
  .mega-menu {
    margin-top: 20px;
  }
  .fav-layout {
    width: 20%;
  }
  .add-packeg {
    height: 350px;
  }
  .mobile-float {
    float: right !important;
    padding-right: 10px;
  }
  .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn{
    border-radius: 4px ;
  }
  .navbar-nav {
    margin: 0;
  }
  .the-title {
    margin-right: 20px;
  }
  .header-1{
    padding: 10px;
  }
  .f-right {
    float: right !important;
}
.subscribe {
  width: 100%;
  background: url(../img/leav.png) no-repeat -46px 163px, #523b7f;
}
.subscribe .input-group > .form-control {
  width: 262px !important;
  border-radius: 0px !important;

}
.subscribe .btn.btn-default {
  height: 47px;
  background-color: #93aa3d;
  color: #fff;
  padding: 6px 20px;
  border-color: transparent;
  border-radius: 0px !important;
 
}
.fav-layout a{
    padding: 20px 5px !important;
    text-align: center;
    height: 100%;
}
.fav-layout {
  margin-bottom: 10px;
}
.cart-layout a {
  padding: 5px !important;
}
.cart-layout img{
  margin-right: 10px;
  margin-bottom: 5px;
}
.btn-sear {

  right: -75px;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

@media only screen and (max-width: 250px) {
}
/* end responsive */
